body,html{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
body h1,h2,h3,h4,h5,h6{
    margin:0;
}
body p{
    margin:0;
}
body ul{
    margin:0;
    padding:0;
}
img {
    vertical-align: middle;
}